<form>
    <div>
        <label>Username:</label>
        <input type="text" name="username" ng-model="vm.username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" ng-model="vm.password" />
    </div>
    <div>
    	<button ng-click="vm.doStuff()">Login</button>
    </div>
</form>
<jxl-date-chooser></jxl-date-chooser>
<ul class="nav nav-tabs">
	<li role="presentation" 
		ng-class="{active: vm.macrosEnabled}"
		data-toggle="{{vm.macrosTab}}"><a ui-sref="macros">Macros</a></li>
	<li role="presentation" 
		ng-class="{active: vm.workoutEnabled}"
		data-toggle="{{vm.workoutTab}}"><a ui-sref="workout">Workout</a></li>
</ul>
<div ng-transclude></div>
